<a href="https://colab.research.google.com/github/sudarmintosenlau/Building-Recommender-System/blob/main/Project_Machine_Learning_with_Python_Building_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Library dan File Unloading

In [2]:
#import library yang dibutuhkan
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

#lakukan pembacaan dataset
movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t') #untuk menyimpan title_basics.tsv
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t') #untuk menyimpan title.ratings.tsv

## 5 Data teratas dari table movie
Hal pertama yang akan kita lakukan adalah menampilkan 5 data teratas yang ada pada table movie (movie_df).

In [3]:
print(movie_df.head())

      tconst  titleType                                      primaryTitle  \
0  tt0221078      short                         Circle Dance, Ute Indians
1  tt8862466  tvEpisode  ¡El #TeamOsos va con todo al "Reality del amor"!
2  tt7157720  tvEpisode                                     Episode #3.41
3  tt2974998  tvEpisode                         Episode dated 16 May 1987
4  tt2903620  tvEpisode                  Frances Bavier: Aunt Bee Retires

                                      originalTitle  isAdult startYear  \
0                         Circle Dance, Ute Indians        0      1898
1  ¡El #TeamOsos va con todo al "Reality del amor"!        0      2018
2                                     Episode #3.41        0      2016
3                         Episode dated 16 May 1987        0      1987
4                  Frances Bavier: Aunt Bee Retires        0      1973

  endYear runtimeMinutes             genres
0      \N             \N  Documentary,Short
1      \N             \N       Comedy,Drama
2      \N             29   Comedy,Game-Show
3      \N             \N               News
4      \N             \N        Documentary

## Info Data dari Setiap Kolom

Setelah berhasil menampilkan 5 data teratas yang ada pada table movie (movie_df), hal selanjutnya yang akan kita lakukan adalah melakukan pengecekan tipe data dan informasi lainnya dari setiap kolom yang ada pada table movie (movie_df) tersebut.

In [4]:
print(movie_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB
None

## Pengecekan Data dengan Nilai NULL

Merupakan suatu hal yang wajib untuk melakukan pengecekan terhadap nilai NULL yang ada di dalam dataset saat melakukan cleaning.

Oleh karena itu, hal selanjutnya yang akan kita lakukan adalah melakukan pengecekan apakah ada data bernilai NULL pada masing-masing kolom yang ada pada table movie (movie_df)

In [5]:
print(movie_df.isnull().sum())

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

## Analisis Kolom dengan data bernilai NULL - part 1

Dari hasil pengecekan nilai NULL yang sudah dilakukan sebelumnya, diketahui bahwa kolom 'primaryTitle' dan 'originalTitle' memiliki banyak data yang bernilai NULL.

Hal selanjutnya yang akan kita lakukan adalah melakukan pengecekan terhadap bentuk data dari kolom primaryTitle dan originalTitle yang bernilai NULL.

In [6]:
print(movie_df.loc[(movie_df['primaryTitle'].isnull()) | (movie_df['originalTitle'].isnull())])

          tconst  titleType primaryTitle originalTitle  isAdult startYear  \
9000  tt10790040  tvEpisode          NaN           NaN        0      2019
9001  tt10891902  tvEpisode          NaN           NaN        0      2020
9002  tt11737860  tvEpisode          NaN           NaN        0      2020
9003  tt11737862  tvEpisode          NaN           NaN        0      2020
9004  tt11737866  tvEpisode          NaN           NaN        0      2020
9005  tt11737872  tvEpisode          NaN           NaN        0      2020
9006  tt11737874  tvEpisode          NaN           NaN        0      2020
9007   tt1971246  tvEpisode          NaN           NaN        0      2011
9008   tt2067043  tvEpisode          NaN           NaN        0      1965
9009   tt4404732  tvEpisode          NaN           NaN        0      2015
9010   tt5773048  tvEpisode          NaN           NaN        0      2015
9011   tt8473688  tvEpisode          NaN           NaN        0      1987
9012   tt8541336  tvEpisode          NaN           NaN        0      2018
9013   tt9824302  tvEpisode          NaN           NaN        0      2016

     endYear runtimeMinutes                genres
9000      \N             \N                    \N
9001      \N             \N                 Crime
9002      \N             \N  Comedy,Drama,Romance
9003      \N             \N  Comedy,Drama,Romance
9004      \N             \N  Comedy,Drama,Romance
9005      \N             \N                    \N
9006      \N             \N  Comedy,Drama,Romance
9007      \N             \N             Biography
9008      \N             \N                 Music
9009      \N             \N                Comedy
9010      \N             \N             Talk-Show
9011      \N             \N                 Drama
9012      \N             \N    Reality-TV,Romance
9013      \N             \N           Documentary

## Membuang Data dengan Nilai NULL - part 1

Setelah melihat hasil sebelumnya, dapat dilihat bahwa semua data tidak memiliki judul dan kita dapat membuang data-data tersebut.

Pekerjaan selanjutnya yang akan kita lakukan adalah membuang data dengan nilai NULL tersebut dan melihat jumlah data yang ada setelah data-data bernilai NULL tersebut dibuang.

In [7]:
#mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]

#menampilkan jumlah data setelah data dengan nilai NULL dibuang
print(len(movie_df))

9011

## Analisis Kolom dengan data bernilai NULL - part 2

Selain kolom 'primaryTitle' dan 'originalTitle',masih terdapat kolom lain yang memiliki data bernilai NULL. Kolom tersebut adalah kolom 'genres'

Selanjutnya, kita akan melakukan hal yang sama seperti yang sudah kita lakukan pada kolom 'primaryTitle' dan 'originalTitle'.

Lakukan pengecekan terhadap **bentuk data dari kolom genres yang bernilai NULL**.

In [8]:
print(movie_df.loc[movie_df['genres'].isnull()])

          tconst  titleType  \
9014  tt10233364  tvEpisode
9015  tt10925142  tvEpisode
9016  tt10970874  tvEpisode
9017  tt11670006  tvEpisode
9018  tt11868642  tvEpisode
9019   tt2347742  tvEpisode
9020   tt3984412  tvEpisode
9021   tt8740950  tvEpisode
9022   tt9822816  tvEpisode
9023   tt9900062  tvEpisode
9024   tt9909210  tvEpisode

                                           primaryTitle originalTitle  \
9014  Rolling in the Deep Dish\tRolling in the Deep ...             0
9015  The IMDb Show on Location: Star Wars Galaxy's ...             0
9016  Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...             0
9017  ...ein angenehmer Unbequemer...\t...ein angene...             0
9018  GGN Heavyweight Championship Lungs With Mike T...             0
9019  No sufras por la alergia esta primavera\tNo su...             0
9020  I'm Not Going to Come Last, I'm Just Going to ...             0
9021  Weight Loss Resolution Restart - Ins & Outs of...             0
9022  Zwischen Vertuschung und Aufklärung - Missbrau...             0
9023  The Direction of Yuu's Love: Hings Aren't Goin...             0
9024  Politik und/oder Moral - Wie weit geht das Ver...             0

      isAdult startYear endYear          runtimeMinutes genres
9014     2019        \N      \N              Reality-TV    NaN
9015     2019        \N      \N               Talk-Show    NaN
9016     2019        \N      \N                      \N    NaN
9017     1981        \N      \N             Documentary    NaN
9018     2020        \N      \N               Talk-Show    NaN
9019     2004        \N      \N                      \N    NaN
9020     2014        \N      \N              Reality-TV    NaN
9021     2015        \N      \N              Reality-TV    NaN
9022     2019        \N      \N                      \N    NaN
9023     1994        \N      \N  Animation,Comedy,Drama    NaN
9024     2005        \N      \N                      \N    NaN

## Membuang Data dengan Nilai NULL - part 2

Setelah melihat hasil sebelumnya, dapat dilihat bahwa semua data tidak memiliki judul dan kita dapat membuang data-data tersebut.Pekerjaan selanjutnya yang akan kita lakukan adalah membuang data dengan nilai NULL tersebut dan melihat jumlah data yang ada setelah data-data bernilai NULL tersebut dibuang.

In [9]:
#mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[movie_df['genres'].notnull()]

#menampilkan jumlah data setelah data dengan nilai NULL dibuang
print(len(movie_df))

9000

## Mengubah Nilai '\\N'

Jika kita perhatikan pada kolom 'startYear' , 'endYear', dan 'runtimeMinutes', terdapat data dengan nilai '\\N'

'\\N' berarti NULL.

Hal selanjutnya yang akan kita lakukan adalah mengubah nilai dari \\\N tersebur menjadi np.nan dan melakukan casting kolom startYear, endYear, dan runtimeMinutes menjadi float64.

In [10]:
#mengubah nilai '\\N' pada startYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['startYear'] = movie_df['startYear'].replace('\\N',np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
print(movie_df['startYear'].unique()[:5])

#mengubah nilai '\\N' pada endYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['endYear'] = movie_df['endYear'].replace('\\N',np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
print(movie_df['endYear'].unique()[:5])

#mengubah nilai '\\N' pada runtimeMinutes menjadi np.nan dan cast kolomnya menjadi float64
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N',np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')
print(movie_df['runtimeMinutes'].unique()[:5])

[1898. 2018. 2016. 1987. 1973.]
[  nan 2005. 1955. 2006. 1999.]
[nan 29.  7. 23. 85.]

## Mengubah nilai genres menjadi list

Selanjutnya, kita akan membuat sebuah function yang bernama **transform_to_list** untuk mengubah nilai genre menjadi list.

In [ ]:
def transform_to_list(x):
    if ',' in x: 
    #ubah menjadi list apabila ada data pada kolom genre
        return x.split(',')
    else: 
    #jika tidak ada data, ubah menjadi list kosong
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

## Menampilkan 5 data teratas

Seperti yang sudah kita lakukan pada table movie (movie_df) sebelumnya, sekarang kita akan menampilkan 5 data teratas dari table ratings (rating_df)

In [11]:
print(rating_df.head())

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

## Menampilkan info data

Selanjutnya, kita akan menampilkan tipe data dan informasi lainnya dari masing-masing kolom yang ada pada table rating (rating_df)

In [12]:
print(rating_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB
None

## Inner Join table movie dan table rating

Mari kita melakukan **inner** join antara rating_df dan movie_df untuk mendapatkan rating pada setiap film yang tersedia, lalu tampilkan **5 data teratas** dan **tipe data** dari tiap kolom yang ada.

In [13]:
#Lakukan join pada kedua table
movie_rating_df = pd.merge(movie_df,rating_df, on='tconst', how='inner')

#Tampilkan 5 data teratas
print(movie_rating_df.head())

#Tampilkan tipe data dari tiap kolom
print(movie_rating_df.info())

      tconst  titleType              primaryTitle             originalTitle  \
0  tt0043745      short                 Lion Down                 Lion Down
1  tt0167491      video         Wicked Covergirls         Wicked Covergirls
2  tt6574096  tvEpisode      Shadow Play - Part 2      Shadow Play - Part 2
3  tt6941700  tvEpisode              RuPaul Roast              RuPaul Roast
4  tt7305674      video  UCLA Track & Field Promo  UCLA Track & Field Promo

   isAdult  startYear  endYear  runtimeMinutes                      genres  \
0        0     1951.0      NaN             7.0     Animation,Comedy,Family
1        1     1998.0      NaN            85.0                       Adult
2        0     2017.0      NaN            22.0  Adventure,Animation,Comedy
3        0     2017.0      NaN             NaN                  Reality-TV
4        0     2017.0      NaN             NaN                 Short,Sport

   averageRating  numVotes
0            7.1       459
1            5.7         7
2            8.5       240
3            8.0        11
4            9.7         7
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB
None

## Memperkecil ukuran Table

Hal selanjutnya yang akan kita lakukan adalah memperkecil ukuran table dengan menghilangkan semua nilai NULL dari kolom **startYear** dan **runtimeMinutes** karena tidak masuk akal jikalau film tersebut tidak diketahui kapan tahun rilis dan durasi nya.

In [14]:
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

#Untuk memastikan bahwa sudah tidak ada lagi nilai NULL
print(movie_rating_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 0 to 1374
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1004 non-null   object
 1   titleType       1004 non-null   object
 2   primaryTitle    1004 non-null   object
 3   originalTitle   1004 non-null   object
 4   isAdult         1004 non-null   int64
 5   startYear       1004 non-null   float64
 6   endYear         17 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1004 non-null   object
 9   averageRating   1004 non-null   float64
 10  numVotes        1004 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 94.1+ KB
None

**Pertanyaan 1: Berapa nilai C?**

Hal pertama yang akan kita cari adalah nilai dari C yang merupakan rata-rata dari averageRating

In [15]:
C = movie_rating_df['averageRating'].mean()
print(C)

6.829581673306767

**Pertanyaan 2: Berapa nilai m?**

Mari kita ambil contoh film dengan numVotes di atas 80% populasi, jadi populasi yang akan kita ambil hanya sebesar 20%.

In [16]:
m = movie_rating_df['numVotes'].quantile(0.8)
print(m)

229.0

**Pertanyaan 3: Bagaimana cara membuat fungsi weighted formula?**

Selanjutnya kita harus membuat sebuah fungsi dengan menggunakan dataframe sebagai variable.

In [17]:
def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C #Rumus IMDb 
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

#melakukan pengecekan dataframe
print(movie_rating_df.head())

      tconst  titleType          primaryTitle         originalTitle  isAdult  \
0  tt0043745      short             Lion Down             Lion Down        0
1  tt0167491      video     Wicked Covergirls     Wicked Covergirls        1
2  tt6574096  tvEpisode  Shadow Play - Part 2  Shadow Play - Part 2        0
5  tt2262289      movie               The Pin               The Pin        0
6  tt0874027  tvEpisode         Episode #32.9         Episode #32.9        0

   startYear  endYear  runtimeMinutes                      genres  \
0     1951.0      NaN             7.0     Animation,Comedy,Family
1     1998.0      NaN            85.0                       Adult
2     2017.0      NaN            22.0  Adventure,Animation,Comedy
5     2013.0      NaN            85.0                       Drama
6     2006.0      NaN            29.0       Comedy,Game-Show,News

   averageRating  numVotes     score
0            7.1       459  7.009992
1            5.7         7  6.796077
2            8.5       240  7.684380
5            7.7        27  6.921384
6            8.0         8  6.869089

**Pertanyaan 4: Bagaimana cara membuat simple recommender system?**

Dari task yang sudah kita lakukan sebelumnya, telah terdapat field tambahan 'score'.

Pertama kita akan filter numVotes yang lebih dari m kemudian diurutkan score dari tertinggi ke terendah untuk diambil nilai beberapa nilai teratas

In [18]:
def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by='score',ascending=False) #urutkan dari nilai tertinggi ke terendah
    
    #Ambil data 100 teratas
    df = df[:top]
    return df
    
#Ambil data 25 teratas     
print(simple_recommender(movie_rating_df, top=25))

         tconst  titleType                                   primaryTitle  \
68    tt4110822  tvEpisode                                  S.O.S. Part 2
236   tt2200252      video                    Attack of the Clones Review
1181  tt7697962  tvEpisode            Chapter Seventeen: The Missionaries
326   tt7124590  tvEpisode            Chapter Thirty-Four: Judgment Night
1045  tt0533506  tvEpisode                                       The Prom
71    tt8399426  tvEpisode                                        Savages
1234  tt2843830  tvEpisode                                          VIII.
1087  tt4295140   tvSeries                                   Chef's Table
1054  tt2503932  tvEpisode                                Trial and Error
448   tt0337566      video                       AC/DC: Live at Donington
624   tt0620159  tvEpisode                                     Strike Out
1281  tt3166390  tvEpisode                         Looking for a Plus-One
314   tt0954759  tvEpisode                                   Ben Franklin
189   tt5661506      video            Florence + the Machine: The Odyssey
151   tt3954426  tvEpisode                                Bleeding Kansas
1344  tt6644294  tvEpisode                 The Hostile Hospital: Part Two
1242  tt3677742  tvSpecial  Saturday Night Live: 40th Anniversary Special
1217  tt3642464  tvEpisode                                    Giant Woman
544   tt0734655  tvEpisode                              The Little People
49    tt9119838  tvEpisode                      Parisian Legend Has It...
357   tt4084774  tvEpisode                           Trial and Punishment
1111  tt4174072  tvEpisode                     Immortal Emerges from Cave
790   tt4279086  tvEpisode                       And Santa's Midnight Run
972   tt0048028      movie                                   East of Eden
819   tt0032156      movie            The Story of the Last Chrysanthemum

                                      originalTitle  isAdult  startYear  \
68                                    S.O.S. Part 2        0     2015.0
236                     Attack of the Clones Review        0     2010.0
1181            Chapter Seventeen: The Missionaries        0     2019.0
326             Chapter Thirty-Four: Judgment Night        0     2018.0
1045                                       The Prom        0     1999.0
71                                          Savages        0     2018.0
1234                                          VIII.        0     2014.0
1087                                   Chef's Table        0     2015.0
1054                                Trial and Error        0     2013.0
448                        AC/DC: Live at Donington        0     1992.0
624                                      Strike Out        0     2000.0
1281                         Looking for a Plus-One        0     2014.0
314                                    Ben Franklin        0     2007.0
189             Florence + the Machine: The Odyssey        0     2016.0
151                                 Bleeding Kansas        0     2014.0
1344                 The Hostile Hospital: Part Two        0     2018.0
1242  Saturday Night Live: 40th Anniversary Special        0     2015.0
1217                                    Giant Woman        0     2014.0
544                               The Little People        0     1962.0
49                        Parisian Legend Has It...        0     2019.0
357                            Trial and Punishment        0     2015.0
1111                     Immortal Emerges from Cave        0     2017.0
790                        And Santa's Midnight Run        0     2014.0
972                                    East of Eden        0     1955.0
819                              Zangiku monogatari        0     1939.0

      endYear  runtimeMinutes                      genres  averageRating  \
68        NaN            43.0      Action,Adventure,Drama            9.4
236       NaN            86.0                      Comedy            9.3
1181      NaN            54.0        Drama,Fantasy,Horror            9.2
326       NaN            42.0         Crime,Drama,Mystery            9.1
1045      NaN            60.0        Action,Drama,Fantasy            8.9
71        NaN            58.0       Drama,Fantasy,Romance            9.0
1234      NaN            57.0             Adventure,Drama            8.9
1087      NaN            50.0                 Documentary            8.6
1054      NaN            43.0        Drama,Fantasy,Horror            8.6
448       NaN           120.0           Documentary,Music            8.5
624       NaN            30.0                      Comedy            8.7
1281      NaN            28.0        Comedy,Drama,Romance            8.7
314       NaN            21.0                      Comedy            8.1
189       NaN            49.0                       Music            8.8
151       NaN            42.0               Drama,Western            8.6
1344      NaN            40.0      Adventure,Comedy,Drama            8.3
1242      NaN           106.0                      Comedy            8.1
1217      NaN            11.0  Adventure,Animation,Comedy            8.4
544       NaN            25.0        Drama,Fantasy,Horror            8.1
49        NaN            42.0                       Drama            8.9
357       NaN            56.0             Adventure,Drama            8.8
1111      NaN            53.0      Action,Adventure,Crime            8.0
790       NaN            42.0     Action,Adventure,Comedy            8.2
972       NaN           118.0                       Drama            7.9
819       NaN           143.0               Drama,Romance            7.9

      numVotes     score
68        3820  9.254624
236       1411  8.955045
1181      1536  8.892450
326       1859  8.850993
1045      2740  8.740308
71        1428  8.700045
1234      1753  8.660784
1087     12056  8.566998
1054      2495  8.451165
448       1343  8.256663
624        401  8.020118
1281       396  8.014679
314       2766  8.002863
189        330  7.992798
151        437  7.991253
1344       812  7.976536
1242      1931  7.965312
1217       566  7.947641
544       1559  7.937290
49         263  7.936330
357        289  7.928908
1111      2898  7.914287
790        823  7.901687
972      38543  7.893678
819       2974  7.823470

**Pertanyaan 5: Bagaimana cara membuat simple recommender system dengan user preferences?**

Dari task yang sudah dilakukan sebelumnya, dapat dilihat sekarang daftar film telah diurutkan dari score tertinggi ke terendah.

Film dengan averageRating yang tinggi tidak selalu mendapat posisi yang lebih tinggi dibanding film dengan averageRating lebih rendah, hal ini disebabkan karena kita juga memperhitungkan faktor banyaknya votes


Sistem rekomendasi ini masih bisa ditingkatkan dengan menambah filter spesifik tentang titleType, startYear, ataupun filter yang lain

Pekerjaan selanjutnya yang akan kita lakukan adalah membuat function untuk melakukan filter berdasarkan isAdult, startYear, dan genres.

In [19]:
df = movie_rating_df.copy()

def user_prefer_recommender(df, ask_adult, ask_start_year, ask_genre, top=100):
    #ask_adult = yes/no
    if ask_adult.lower() == 'yes':
        df = df.loc[df['isAdult'] == 1]
    elif ask_adult.lower() == 'no':
        df = df.loc[df['isAdult'] == 0]

    #ask_start_year = numeric
    df = df.loc[df['startYear'] >= int(ask_start_year)]

    #ask_genre = 'all' atau yang lain
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genres'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['numVotes'] >= m] #Mengambil film dengan m yang lebih besar dibanding numVotes
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

print(user_prefer_recommender(df,
                       ask_adult = 'no',
                        ask_start_year = 2000,
                       ask_genre = 'drama'
                       ))

         tconst  titleType                         primaryTitle  \
68    tt4110822  tvEpisode                        S.O.S. Part 2
1181  tt7697962  tvEpisode  Chapter Seventeen: The Missionaries
326   tt7124590  tvEpisode  Chapter Thirty-Four: Judgment Night
71    tt8399426  tvEpisode                              Savages
1234  tt2843830  tvEpisode                                VIII.
...         ...        ...                                  ...
1138  tt1126516      movie              Money Hai Toh Honey Hai
1208  tt3044882      movie                                Nasha
1197  tt3016748      movie                       Jacob's Ladder
846   tt0488164      movie                          Moscow Zero
90    tt0299981    tvMovie               Highlander: The Source

                            originalTitle  isAdult  startYear  endYear  \
68                          S.O.S. Part 2        0     2015.0      NaN
1181  Chapter Seventeen: The Missionaries        0     2019.0      NaN
326   Chapter Thirty-Four: Judgment Night        0     2018.0      NaN
71                                Savages        0     2018.0      NaN
1234                                VIII.        0     2014.0      NaN
...                                   ...      ...        ...      ...
1138              Money Hai Toh Honey Hai        0     2008.0      NaN
1208                                Nasha        0     2013.0      NaN
1197                       Jacob's Ladder        0     2019.0      NaN
846                           Moscow Zero        0     2006.0      NaN
90                 Highlander: The Source        0     2007.0      NaN

      runtimeMinutes                  genres  averageRating  numVotes  \
68              43.0  Action,Adventure,Drama            9.4      3820
1181            54.0    Drama,Fantasy,Horror            9.2      1536
326             42.0     Crime,Drama,Mystery            9.1      1859
71              58.0   Drama,Fantasy,Romance            9.0      1428
1234            57.0         Adventure,Drama            8.9      1753
...              ...                     ...            ...       ...
1138           138.0            Comedy,Drama            2.8       527
1208           122.0          Drama,Thriller            3.2      1132
1197            89.0    Drama,Horror,Mystery            3.4      2065
846             82.0     Action,Drama,Horror            3.0      1620
90              86.0  Action,Adventure,Drama            3.1      8855

         score
68    9.254624
1181  8.892450
326   8.850993
71    8.700045
1234  8.660784
...        ...
1138  4.020601
1208  3.810708
1197  3.742360
846   3.474296
90    3.194020

[71 rows x 12 columns]